# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3

# VS Code settings (optional)
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
